<h1>Listing restaurants</h1>

<%= link_to 'New restaurant', new_restaurant_path %>
<body>
<table id='image1'>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Click to see more</th>
    <th>Average Rating</th>
    <th>Click to edit</th>
    <th>Click to delete</th>
  </tr>

  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.description %></td>
      <td><%= link_to 'Show', restaurant_path(restaurant) %></td>
      <td><%= restaurant.reviews.empty? ? "No reviews yet!" : restaurant.reviews.average(:rating).round(2) %></td>
      <% if user_signed_in? && current_user.id == restaurant.user_id %>
      <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
      <td><%= link_to 'Destroy', restaurant_path(restaurant),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
            <% end %></td>
    </tr>
  <% end %>
</table>
</body>
